{% extends "base.html" %}

{% block content %}

  {% for message in get_flashed_messages() %}
  <div class="alert alert-secondary" role="alert">
      {{ message }}
    <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>-->
  </div>
  {% endfor %}

    <br/>
    <h1 class="light-title">Your Dashboard</h1>
    <br/>

    {% if session.username %}
      <div class="card text-center">
          <div class="card-header">
            <ul class="nav nav-pills card-header-pills">
              <li class="nav-item">
                <a class="nav-link active" href="#">Account information</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Your Posts</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Your Comments</a>
              </li>
            </ul>
            </div>
            <div class="card-body">
              <p class="card-text">Username: {{ session.username }}</p>
              <p class="card-text">Email: {{ session.email }}</p>
              <p class="card-text">You have been a member scince: {{ session.date_added }}</p>
            </div>   
        </div>
      {% else %}
          <h3 class="light-title">Please login to view this page...</h3>
      {% endif %}

{% endblock %}