{% extends "base.html" %}

{% block content %}
  {% include "message.html" %}<br/>
    
    {% if session.username %}
      <h1 class="light-title">Dashboard</h1><br/>

      <div class="card">
        <h5 class="card-header">Account Information</h5>
        <div class="card-body">
          <p class="card-text">
            <p class="card-text"><strong>Username:</strong> {{ session.username }}</p>
            <p class="card-text"><strong>Email:</strong> {{ session.email }}</p>
            <p class="card-text"><strong>You have been a member scince:</strong> {{ session.date_added }}</p>
            <p class="card-text"><strong>Bio:</strong> {{ session.bio }}</p></br>
            <a href="{{ url_for('edit_user', id=session.id )}}" class="btn btn-dark">Edit Account</a>
        </div>
        </div><br/><br/><br/>
        <div class="btn-group">
          <a href="{{ url_for('dashboard') }}" class="btn btn-light active">Your Posts</a>
          <a href="{{ url_for('user_comments') }}" class="btn btn-light">Your Comments</a>
        </div><br/><br/>
          {% if posts %}
                  {% include "posts.html" %}
          {% else %}
            <div class="text-center">
              <br/><br/>
              <h3 class="light-title">Looks like you haven't made any posts yet...</h3>
              <br/>
              <a href="{{ url_for('add_post') }}" class="btn btn-light">Add Post</a>
            </div>
          {% endif %}

      {% else %}</br>
        <div class="text-center">
          <a href="{{ url_for('login') }}" class="btn btn-light rounded-pill btn-lg" id="pillbutton">Login</a>
          <a href="{{ url_for('sign_up') }}" class="btn btn-dark rounded-pill btn-lg">Sign up</a>
        </div>
      {% endif %}

{% endblock %}