{% extends "base.html" %}

{% block content %}
  {% include "message.html" %}<br/>
    <h1 class="light-title">{{ session.sername }}'s Dashboar</h1><br/>

    {% if session.username %}
      <div class="card">
        <div class="card-body">
          <h5 class="card-header">Account Information</h5>
          <p class="card-text">
            <p class="card-text"><strong>Username:</strong> {{ session.username }}</p>
            <p class="card-text"><strong>Email:</strong> {{ session.email }}</p>
            <p class="card-text"><strong>You have been a member scince:</strong> {{ session.date_added }}</p>
            <p class="card-text"><strong>Bio:</strong> {{ session.bio }}</p></br>
            <a href="{{ url_for('edit_user', id=session.id )}}" class="btn btn-dark">Update Account Information</a>
        </div>
      </div><br/><br/><br/>
          <div class="btn-group">
            <a href="{{ url_for('dashboard') }}" class="btn btn-light">Your Posts</a>
            <a href="{{ url_for('user_comments') }}" class="btn btn-light active">Your Comments</a>
          </div><br/><br/>
          
        {% if comments %}
          {% for comment in comments %}
            <div class="card">
              <div class="card-header">
                @{{ comment.username }}
              </div>
              <div class="card-body">
                <p class="card-text">{{ comment.content }}</p><br/>
                <small>{{ comment.date_added }}</small><br/><br/>   
                <a href="{{ url_for('post', id=comment.post_id) }}" class="btn btn-outline-dark">View original post</a>
              </div>
            </div><br/><br/>
          {% endfor %}
        {% else %}
          <div class="text-center">
            <br/><br/>
            <h3 class="light-title">Looks like you haven't made any comments yet...</h3>
          </div>
        {% endif %}
      {% else %}
        <div class="text-center">
          <a href="{{ url_for('login') }}" class="btn btn-light rounded-pill btn-lg" id="pillbutton">Login</a>
          <a href="{{ url_for('sign_up') }}" class="btn btn-dark rounded-pill btn-lg">Sign up</a>
        </div>
      {% endif %}

{% endblock %}