{% extends "base.html" %}

{% block content %}
    {% include "message.html" %}

    <h1 class="light-title">Edit post..</h1>
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
        <form method="POST">
            {{ form.hidden_tag() }}
            <br/>
            {{ form.title.label(class="form-label") }}
            {{ form.title(class="form-control") }}
            <br/>
            {{ form.content.label(class="form-label") }}
            {{ form.content(class="form-control") }}
            <br/>
            {{ form.submit(class="btn btn-dark") }}
        </form>
    </div>


{% endblock %}