{% extends "base.html" %}

{% block content %}

    {% for message in get_flashed_messages() %}
        <div class="alert alert-secondary" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

        <br/><br/>
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
              <h1 class="fw-bold mb-0 fs-2">Update your information...</h1>
            </div>
      
            <div class="modal-body p-5 pt-0">
              <form method="POST">
                {{ form.hidden_tag() }}

                <div class="form mb-3">
                  {{ form.username.label(class="form-label") }}
                  {{ form.username(class="form-control") }}
                </div>

                <div class="form mb-3">
                    {{ form.email.label(class="form-label")}}
                    {{ form.email(class="form-control") }}
                </div>
                <br/>
                {{ form.submit(class="w-100 mb-2 btn btn-lg rounded-3 btn-primary") }}
                
              </form>
            </div>
        </div>

{% endblock %}