
<nav class="navbar navbar-expand-lg bg-body-tertiary rounded" aria-label="Thirteenth navbar example">
  <div class="container">
      <!--<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
          -->
        <div class="col-md-3 mb-2 mb-md-0">
              <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="41" fill="currentColor" class="bi bi-body-text" viewBox="0 0 16 10">
                      <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2zm3.5 1a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 2.5a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 2.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1z"/>
                    </svg>
              <h1 class="navbar-title">Forum</h1>
              </a>
            </div>
  
  
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="{{ url_for('index') }}" class="nav-link px-2">Home</a></li>
            <li><a href="{{ url_for('add_post') }}" class="nav-link px-2">Add Post</a></li>
              <li><a href="{{ url_for('dashboard') }}" class="nav-link px-2">User Dashboard</a></li>
            {% if session.role == "administrator" %}
              <li><a href="{{ url_for('admin') }}" id="red" class="nav-link px-2">Administrator Dashboard</a></li>
            {% endif %}
          </ul>
  
        <form method="POST" action="{{ url_for('search') }}" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          {{ form.hidden_tag() }}
          <input type="search" class="form-control form-control-dark text-bg-light" placeholder="Search..." aria-label="Search" name="search">
        </form>
  
        <div class="text-end">
          {% if session.username %}
            <a href="{{ url_for('logout') }}" class="btn btn-outline-dark" role="button" aria-disabled="login">Logout</a>
          {% else %}
            <a href="{{ url_for('login') }}" class="btn btn-outline-dark rounded-pill" role="button" aria-disabled="login">Login</a>
            <a href="{{ url_for('sign_up')}}"  class="btn btn-dark rounded-pill" role="button" aria-disabled="sign up">Sign Up</a>
          {% endif %}
        </div>
      <!--</header>-->
    </div>
  </nav>
  