{% extends "base.html" %}

{% block content %}

{% for message in get_flashed_messages() %}
        <div class="alert alert-secondary" role="alert">
            {{ message }}
           <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>-->
        </div>
  {% endfor %}

<!--Example Post-->
<div class="card">
    <div class="card-header">
      @username
    </div>
    <div class="card-body">
      <h5 class="card-title">Example Title</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint 
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit 
        anim id est laborum.
        </p>
      <br/>

      <small>time posted</small>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

{% endblock %}