{% extends "base.html" %}

{% block content %}
    {% for message in get_flashed_messages() %}
        <div class="alert alert-secondary" role="alert">
            {{ message }}
            <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>-->
        </div>
    {% endfor %}

    <br/><br/>

    <div class="card">
        <div class="card-header">
          @{{ post.username }}
        </div>
        <div class="card-body">
          <h4 class="card-title">{{ post.title }}</h4>
          <p class="card-text">{{ post.content }}</p>
          <br/>
  
          <small>{{ post.date_added }}</small>
          <br/><br/>
          {% if session.id == post.author_id or session.rolo == "adminstrator" %}
            <a href="{{ url_for('edit_post', id=post.id) }}" class="btn btn-outline-dark">Edit</a>
            <a href="{{ url_for('delete_post', id=post.id) }}" class="btn btn-outline-danger">Delete</a>
          {% endif %}
        </div>
    </div><br/><br/>

    <div class="modal-content rounded-4 shadow">
      <div class="modal-header p-4 pb-3 border-bottom-0">
        <h1 class="fw-bold mb-0 fs-5">Add comment..</h1>
      </div>

      <div class="modal-body p-3 pt-1">
        <form method="POST">
          {{ form.hidden_tag() }}

          <div class="form mb-2">
              {{ form.content(class="form-control") }}
          </div><br/>
          <div class="text-center">
            {{ form.submit(class="w-30 mb-0 btn rounded-3 btn-dark") }}
          </div>
        </form>
      </div>
    </div><br/><br/>

    {% for comment in comments %}
      <div class="card">
        <div class="card-header">
          @{{ comment.username }}
        </div>
        <div class="card-body">
          <p class="card-text">{{ comment.content }}</p><br/>
          <small>{{ comment.date_added }}</small><br/><br/>   
          {% if session.id == comment.author_id %}
            <a href="{{ url_for('delete_comment', id=comment.id) }}" class="btn btn-outline-danger">Delete</a>
          {% endif %}
        </div>
      </div><br/><br/>
    {% endfor %}

    <div class="text-center">
      <a href="{{ url_for('index') }}" class="btn btn-dark btn-lg btn-block">Return to Home Page</a>
    </div><br/><br/>

{% endblock %}