{% extends "base.html" %}

{% block content %}

    <!--Example Post-->
    <div class="card">
        <div class="card-body">
            @username
        <h5 class="card-title">Example Title</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint 
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit 
            anim id est laborum.
            </p>
        
        <small>Time posted</small>
        </div>
    </div>
    <br/><br/>
    <div class="text-center">
        <a href="{{ url_for('index') }}" class="btn btn-outline-dark btn-lg btn-block">Go Back</a>
    </div>

{% endblock %}