{% extends "base.html" %}

{% block content %}

    <!--Example Post-->
    <div class="card">
        <div class="card-header">
          @{{ post.author }}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">{{ post.content }}</p>
          <br/>
  
          <small>{{ post.date_added }}</small>
          <br/>
        </div>
    </div><br/><br/>

    <div class="text-center">
        <a href="{{ url_for('index') }}" class="btn btn-dark btn-lg btn-block">Return to Home Page</a>
    </div>

{% endblock %}