{% extends "base.html" %}

{% block content %}
    {% include "message.html" %}
    
    {% if session.role == "administrator" %}
        <br/>
        <h1 class="light-title">Administrator Dashboard</h1>
        <br/>
        <div class="btn-group">
            <a href="{{ url_for('admin') }}" class="btn btn-light">Users</a>
            <a href="{{ url_for('admin_posts') }}" class="btn btn-dark light" aria-current="page">Posts</a>
        </div>
        <br/><br/>

        <form method="POST" action="{{ url_for('search_posts') }}" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            {{ form.hidden_tag() }}
            <input type="search" class="form-control form-control-dark text-bg-light" placeholder="Search for users by username or id..." aria-label="Search" name="search">
        </form>
        <br/><br/><br/>

        {% if posts %}
            <h2 class="light-title">Results ({{ count }}) for "{{ searched }}"</h2></br>
            {% for post in posts %}
            <div class="card">
                <div class="card-header">
                @{{ post.username }} #{{ post.author_id }}
                </div>
                <div class="card-body">
                <h5 class="card-title">#{{ post.id }} {{ post.title }}</h5>
                <p class="card-text">{{ post.content }}</p>
                <br/>
        
                <small>{{ post.date_added }}</small>
                <br/><br/>
                <a href="{{ url_for('post', id=post.id) }}" class="btn btn-dark">View Post</a>
                <a href="{{ url_for('delete_post', id=post.id) }}" class="btn btn-outline-danger">Delete</a>
                </div>
            </div>
            <br/><br/>
        {% endfor %}
        {% else %}
            <h2 class="light-title">We could not find any search results for {{ searched }}...</h2></br>
        {% endif %}
    {% else %}
        
        

    {% endif %}

{% endblock %}